{% extends 'store/base.html' %}

{% block head %}
    <!-- Custom CSS -->
    <link href="/static/css/heroic-features.css" rel="stylesheet">
{% endblock head %}

{% block content %}
   <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Welcome!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <p><a class="btn btn-primary btn-large">See all Products!</a>
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Popular Products</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

        {% for product in most_popular %}

            <!-- 4 go here -->
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/{{ product._id }}/thumbnail.jpg" alt=""/>
                    <div class="caption">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.description }}</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="/product/{{ product._id }}" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}


        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Maryams Ingredient's 2016</p>
                    <p>Developed by Luke Southam &lt;luke@devthe.com&gt;</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
{% endblock content %}