{% extends 'store/base.html' %}

{% block head %}
    <!-- Custom CSS -->
    <link href="/static/css/heroic-features.css" rel="stylesheet">
{% endblock head %}

{% block content %}
   <!-- Page Content -->
    <div class="container">




        Displaying product: 
        <pre>product = {{ product }}</pre>
        <pre>categories = {{ categories }}</pre>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Maryams Ingredient's 2016</p>
                    <p>Developed by Luke Southam &lt;luke@devthe.com&gt;</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
{% endblock content %}