{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block head %}
    <link href="/static/css/heroic-features.css" rel="stylesheet">
    <link href="/static/css/carousel.css" rel="stylesheet">
{% endblock head %}

{% block content %}

    <h1>Login</h1>

    {% call macros.render_form(login_form, action_url=url_for('users.login'), action_text='Login',
                                        class_='login-form form-horizontal') %}
        {{ macros.render_field(login_form.email, placeholder='Email', type='email') }}
        {{ macros.render_field(login_form.password, placeholder='Password', type='password') }}
    {% endcall %}

    <h2>Or create an account:</h2>

    {% call macros.render_form(registraion_form, action_url=url_for('users.register'), action_text='Create Account',
                                        class_='registration-form form-horizontal') %}
        {{ macros.render_field(registraion_form.email, placeholder='Email', type='email') }}
        {{ macros.render_field(registraion_form.password, placeholder='Password', type='password') }}
        {{ macros.render_field(registraion_form.first_name, placeholder='First name', type='text') }}
        {{ macros.render_field(registraion_form.last_name, placeholder='Last name', type='text') }}
        {{ macros.render_field(registraion_form.contact_num, placeholder='Contact number', type='tel') }}
    {% endcall %}


{% endblock content %}
