{% extends 'base.html' %}

{% block head %}
    <link href="/static/css/view_product.css" rel="stylesheet">
{% endblock head %}

{% block content %}
   <!-- Page Content -->
  <div class="container-fluid">

    <div class="content-wrapper"> 
    <div class="row">  
      <div class="container"> 
        <div class="col-7">
          <div class="product col-md-4 service-image-left">
            {% set image = url_for('products.images', product_id=product._id, file_name='thumbnail.jpg') %}
            <center>
              <img id="item-display" src="{{ image }}" alt=""></img>
            </center>
          </div>
          
          <div class="container service1-items col-sm-2 col-md-2 pull-left">
            <center>
              <a id="item-1" class="service1-item">
                <img src="{{ image }}" alt=""></img>
              </a>
              <!--a id="item-2" class="service1-item">
                <img src="https://www.google.co.uk/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt=""></img>
              </a>
              <!--a id="item-3" class="service1-item">
                <img src="http://www.corsair.com/Media/catalog/product/g/s/gs600_psu_sideview_blue_2.png" alt=""></img>
              </a-->
            </center>
          </div>
        </div>
          
        <div class="col-md-6">
          <h1>{{ product.name }}</h1>
          <div class="product-desc">{{ product.description }}</div>
          <hr>
          <div class="product-categories">{{ category | join(', ') | replace('-', ' ') | title }} </div>
          <hr>
          <div class="product-cost">{{ product.cost }}</div>
          <div class="product-stock">
          {% if product.stock > 0 %}
            In Stock
          {% else %}
            Out of stock
          {% endif %}
          </div>
          <hr>
          <div class="btn-group cart">
            <a href="#" class="btn btn-primary">Buy Now!</a> 
            <a href="#"" class="btn btn-success">Add to cart</a>
          </div>
        </div>
      </div> 
    </div>

    <h2>Recipes</h2>
    <ul>
    {% for recipe in product.recipes%}
      <li><a href="{{ recipe.url }}">{{ recipe.name }}</a></li>
    {% endfor %}
    <ul>
  </div>

  </div>
  <!-- /.container -->
{% endblock content %}
