{% extends 'base.html' %}

{% block head %}
    <link href="/static/css/view_product.css" rel="stylesheet">
{% endblock head %}

{% block content %}
<div class="container">
<h1> Products 
{% if category %}
-> {{ category | replace('-', ' ') | title }}
{% endif %}
</h1>
 <div class="row">
{% for product in products %}
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="{{ url_for('products.thumbnail',
                              product_id=product._id)}}" alt="">
        <div class="caption">
            <h4 class="pull-right"> £{{ product.cost }} </h4>
            <h4><a href="{{ url_for('products.view_product',
                                     product_id=product._id) }}">
                {{ product.name }}
            </a></h4>
            <p>{{ product.description }}</p>
        </div>
        <div class="ratings">
        </div>
    </div>
</div>
{% endfor %}

   </div>
</div>
{% endblock content %}
