{% extends 'base.html' %}

{% block head %}
    <link href="/static/css/heroic-features.css" rel="stylesheet">
    <link href="/static/css/carousel.css" rel="stylesheet">
{% endblock head %}

{% block content %}
    <!-- Jumbotron Header -->

<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="{{ url_for('products.images', product_id=latest[0]._id, file_name='thumbnail.jpg') }}" alt="slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>{{ latest[0].name }}</h1>
              <p>{{ latest[0].description }}</p>
              <a href="#" class="btn btn-primary">Buy Now!</a> <a href="{{ url_for('products.view_product', product_id=latest[0]._id, product_name='-'.join(latest[0].name.lower().split())) }}" class="btn btn-default">More Info</a>
            </div>
          </div>
        </div>
    {% for product in latest[1:] %}
        <div class="item">
          <img src="{{ url_for('products.images', product_id=product._id, file_name='thumbnail.jpg') }}" alt="slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>{{ product.name }}</h1>
              <p>{{ product.description }}</p>
              <a href="#" class="btn btn-primary">Buy Now!</a> <a href="{{ url_for('products.view_product', product_id=product._id, product_name='-'.join(product.name.lower().split())) }}" class="btn btn-default">More Info</a>
            </div>
          </div>
        </div>
    {% endfor %}
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Popular Products <a class="btn btn-primary btn-large">See All Products</a></h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

    {% for product in most_popular %}
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="{{ url_for('products.images', product_id=product._id, file_name='thumbnail.jpg') }}" alt=""/>
            <div class="caption">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p>
                    <a href="#" class="btn btn-primary">Buy Now!</a> <a href="{{ url_for('products.view_product', product_id=product._id, product_name='-'.join(product.name.lower().split())) }}" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}
